* {
  margin: 0%;
  padding: 0%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav {
  background-color: #316b83;
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
.container {
  background-color: #d5bfbf;
  width: 70%;
  min-height: 100vh;
  margin: auto;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
}
.container > h1 {
  text-align: center;
  margin: 30px;
  color: #6d8299;
}
.container > form {
  display: flex;
  flex-direction: column;
}
form > button:hover {
  background-color: #316a8393;
}
input,
textarea,
button {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.295);
  border-radius: 5px;
  margin: 10px 0px;
  font-size: 1rem;
}
button {
  border: none;
  background-color: #316b83;
  cursor: pointer;
  color: white;
}
/* *{
  border:1px solid crimson 
} */
.task {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 15px 0;
}
.task span {
  color: rgba(0, 0, 0, 0.637);
}
.task > div {
  width: 100%;
}
.task button {
  border-radius: 100%;
  height: 1px;
  width: 1px;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(183, 39, 39);
}
.task button:hover {
  background-color: rgb(188, 107, 107);
}
@media only screen and (max-width:550px){
  .container{
    width: 100%;
  }
}
